:root {
    /*========== Colors ==========*/
    --first-color: hsl(342, 67%, 53%);
    --first-color-alt: hsl(342, 67%, 45%);
    --text-color: hsl(231, 12%, 98%);
    --body-color: hsl(231, 100%, 94%);
    --shadow-color:hsl(342, 67%, 40%);
}


.spd-button{
    background-color: var(--first-color) !important;
    color: #fff;
    border-radius: 4px;
    position: relative;
    display: flex;
    width:auto;
    align-items: center;
    justify-content: center;
    padding: 12px 10px;
    overflow: hidden;
    border:none;
    outline: none;
}
.spd-button.loading{
    cursor: wait;
}
.spd-button .text{
    position: relative;
}
.spd-button.loading:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: repeating-linear-gradient(60deg,
    transparent,
    transparent 0.75rem,
    var(--first-color-alt) 0.75rem,
    var(--first-color-alt) 1.5rem);
    animation: bgloading 1s infinite linear;
}


.spinner-loading {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #ffffff;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes bgloading {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1.75rem);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}