@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

:root {
    /*========== Colors ==========*/
    --first-color: hsl(231, 44%, 56%);
    --first-color-alt: hsl(231, 44%, 51%);
    --text-color: hsl(231, 12%, 98%);
    --body-color: hsl(231, 100%, 94%);
}
.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6{
    font-family:"Vazirmatn", sans-serif !important;
}
.sepid-wrap *{
    font-family:"Vazirmatn", sans-serif !important;
}

.sepid-button{
    font-family:"Vazirmatn", sans-serif !important;
    background: var(--first-color);
    color: #fff;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    box-shadow: 0 18px 40px hsla(231, 56%, 56%, .3);
    overflow: hidden;
    border:none;
    outline: none;
}
.sepid-button.loading{
    cursor: wait;
}
.sepid-button .text{
    position: relative;
}
.sepid-button.loading:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: repeating-linear-gradient(60deg,
    transparent,
    transparent 0.75rem,
    var(--first-color-alt) 0.75rem,
    var(--first-color-alt) 1.5rem);
    animation: bgloading 1s infinite linear;
}

.sepid-button:hover{
    color:#fff;
    cursor: pointer;
}

.sepid-ajax-message{
    font-family:"Vazirmatn", sans-serif  !important;
    margin: 32px 0;
}
.sepid-ajax-message.success{
    color:green;
}
.sepid-ajax-message.error{
    color: #ad0000;
}

.sepid-tools-form .result-log{
    max-height:1000px;
    overflow-y: scroll;
}
.sepid-tools-form .result-log .success{
    color: green;
}
.sepid-tools-form .result-log .error{
    color: darkred;
}



@keyframes bgloading {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1.75rem);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}